<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/../static/main.js" th:src="@{/main.js}"></script>
    <meta charset="ISO-8859-1">
    <title>Cars List</title>
</head>
<body>
<h2>List of cars</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New</button>


<table class="table table-stripped">
    <thead>
    <tr>
        <td>Id</td>
        <td>Mark</td>
        <td>Model</td>
        <td>Color</td>
        <td>Edit</td>
    </tr>
    </thead>

    <tr th:each="car:${cars}">
        <td th:text="${car.Id}">Id</td>
        <td th:text="${car.mark}">Mark</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.color}">Color</td>
        <td><a class="btn btn-warning">Edit</a>
        </td>

    </tr>
</table>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form th:action="@{/cars/update}" method="put">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="idEdit" name="Id">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mark:</label>
                        <input type="text" class="form-control" id="markEdit" name="mark">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Model:</label>
                        <input type="text" class="form-control" id="modelEdit" name="model">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Color:</label>
                        <input type="text" class="form-control" id="colorEdit" name="color">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form th:action="@{/cars/addNew}" method="post">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="recipient-Id" name="Id">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mark:</label>
                        <input type="text" class="form-control" id="recipient-mark" name="mark">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Model:</label>
                        <input type="text" class="form-control" id="recipient-model" name="model">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Color:</label>
                        <input type="text" class="form-control" id="recipient-color" name="color">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>